<div class="container">
<div class="row">
	<div class="page-header">
    <h1><%=t("order.place")%>&nbsp;<small><%=t("order.review")%></small></h1>
    <h6 class="text-info"><%=t("order.price")%></h6>
    </div>
	<table class="table">
	<% @order.item_history.each_with_index do |item,i| %>
	<%= content_tag :tr do %>
		<%= content_tag :td, i+1 %>
		<%= content_tag :td, item.image.first.medium_image %>
		<%= content_tag :td, item.image.first.barcode %>
		<%= content_tag :td, number_to_currency(item.price_ex_gst, :locale => "au") %>
	<% end %>
	<% end %>

	</table>
</div>
</div>