	<div class="container footer">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Beads.KoolBZ 2012 ABN 42253612817 Supported and Developed by IT.KoolBZ &middot; <a href='<%="#{showcases_path}\#about"%>'><%=t("about")%></a> &middot; <a href="<%=new_contact_path%>"><%=t("contact_us")%></a></p>
      </footer>

    </div><!-- /.container -->
    
<%=_script_pageinit(%Q|

jQuery().tap(function(e) {
	alert("tap!!");
	if (isJQMGhostClick(e)) {
		return;
	}
});

var lastclickpoint, curclickpoint;
var isJQMGhostClick = function(event) {
	curclickpoint = event.clientX + 'x' + event.clientY;
	alert(curclickpoint);

	if (lastclickpoint === curclickpoint) {
		lastclickpoint = '';
		return true;
	} else {
		
		lastclickpoint = curclickpoint;
		return false;
	}
}

|)%>



