<%= render :partial => "layouts/base_header" %>
<%= render :partial => "itemcases/script" %>
</head>
<body>
<%= render :partial => "itemcases/header" %>
<%= yield %>
<%= render :partial => "layouts/footer" %>
</body>
</html>
