<!DOCTYPE html>
<html>
<head>
  <title>Beads KoolBz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :partial => "orders/script" %>
</head>
<body>
<%= render :partial => "orders/header" %>
<%= yield %>
<%= render :partial => "layouts/footer" %>
</body>
</html>
